<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button>
        <ion-icon name="md-ionic" color="secondary"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
    	<button ion-button>
        <ion-icon name="md-contact" color="gray"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list padding>
		<ion-list-header>
			<h5>Inbox</h5>
			<ion-badge item-end>{{inboxProvider.getPendingSize()}}</ion-badge>
		</ion-list-header>
	  <ion-item (click)="onViewThread(thread)" *ngFor="let thread of inboxProvider.getPendingThreads(); let i = index">
	    <ion-avatar item-start>
	      <img src="{{thread.from.profileImage.url}}">
	    </ion-avatar>
	    <h6>{{thread.from.firstName}} {{thread.from.lastName}}</h6>
	    <p class="caption">{{thread.subject}}</p>
	    <ion-note item-end item-top>
	    	<p tiny-bottom-margin class="meta">{{thread.createdAt}}</p>
	    	<p class="lead">{{thread.bounty}}</p>
	    </ion-note>
	  </ion-item>
	</ion-list>
</ion-content>
