<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button class="ping-brand">
        <ion-icon name="radio" class="logo" color="primary"></ion-icon>
        <span class="text">Ping<sub>.me</sub></span>
      </button>
    </ion-buttons>
    <ion-buttons end>
    	<button ion-button>
        <ion-icon name="md-contact" color="gray"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-list class="inbox" padding>
		<ion-list-header>
			<h1 flex>Inbox <ion-badge small-left-margin>{{inboxProvider.getPendingSize()}}</ion-badge></h1>
		</ion-list-header>
	  <ion-item class="thread" *ngFor="let thread of inboxProvider.getPendingThreads(); let i = index">
	    <ion-avatar item-start (click)="onViewAccountProfile(thread.from)">
	      <img src="{{thread.from.profileImage.url}}">
	    </ion-avatar>
	    <p class="meta">{{thread.createdAt}} • <span color="primary">{{thread.bounty}}</span> • <span color="secondary" *ngIf="thread.from.rating">{{thread.from.rating.score}} <ion-icon name="star"></ion-icon></span></p>   
    	<h6 flex class="message-from" (click)="onViewThread(thread)">{{thread.from.firstName}} {{thread.from.lastName}}</h6>
	    <p skinny class="message-subject" (click)="onViewThread(thread)">{{thread.subject}}</p>
	  </ion-item>
	</ion-list>
</ion-content>
