message-inbox-page {
	ion-section.threads-section {
		ion-section-header ion-badge {
			font-size: 1.6rem;
		}
	}
	
	ion-item.thread {
		padding: $tiny-space 0;
	}
	
	.message-subject {
		text-overflow: clip;
		white-space: normal;
	}
}
