<ion-header>
  <ion-navbar>
    <ion-title>{{thread.from.getFullName()}}</ion-title>
    <ion-buttons end>
    	<button ion-button color="gray" (click)="onViewSender()">
        <ion-icon name="md-open"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content #content>
  <ion-section class="thread-section">
  	<ion-section-header text-center>
  		<p tiny-bottom-margin class="lead">{{thread.subject}}</p>
			<p class="caption">Respond to {{thread.from.firstName}} to earn <strong color="primary">{{thread.bounty}}</strong>.</p>
  	</ion-section-header>
  	<ion-section-content>
  		<div class="chat-thread">
  			<div class="chat-message" [class.left]="message.from.urn != accountProvider.currentAccount.urn" [class.right]="message.from.urn == accountProvider.currentAccount.urn" *ngFor="let message of thread.messages">
  				<ion-avatar>
			      <img [src]="message.from.profileImage.url">
			    </ion-avatar>
  				<div class="chat-bubble">
			  		<div class="message-body">{{message.body}}</div>  				
  					<div class="message-meta">{{message.createdAt}}</div>
  				</div>
  			</div>
  		</div>
  	</ion-section-content>
  </ion-section>
</ion-content>

<ion-footer padding [keyboard-attach]="content">
	<div flex>
	  <ion-textarea autosize [(ngModel)]="reply" placeholder="Write a message"></ion-textarea>
    <button ion-button auto-height clear (click)="onReply()">Reply</button>	
	</div>
</ion-footer>