<ion-header clear>
  <ion-navbar></ion-navbar>
</ion-header>

<ion-content #content>
	<ion-section class="cover-message-section" *ngIf="thread.coverMessage">
		<ion-section-header no-top-padding>
			<ion-item (click)="onViewAccountProfile(thread.coverMessage.from)">
				<h4>{{thread.from.getFullName()}}<sub class="no-wrap">{{thread.from.headline}}</sub></h4>
				<ion-avatar item-end *ngIf="thread.from.profileImage">
		      <img src="{{thread.from.profileImage.url}}">
		      <ion-badge small *ngIf="thread.from.relationship">{{thread.from.relationship.graphDistance}}</ion-badge>
		    </ion-avatar>
			</ion-item>
		</ion-section-header>
		<ion-section-content>
			<h6 ion-text bottom-margin color="secondary">
				<div *ngIf="thread.category != 'Video'">Respond to {{thread.from.firstName}} to earn {{thread.bounty}}.</div>
				<div *ngIf="thread.category == 'Video'">View entire video to earn {{thread.bounty}}.</div>
			</h6>
			<p tiny-bottom-margin class="meta">{{thread.createdAt}} • {{thread.category}}</p>
			<h4>{{thread.subject}}</h4>
			<p top-margin class="message-body" *ngIf="thread.coverMessage.body">{{thread.coverMessage.body}}</p>
		</ion-section-content>
	</ion-section>
	
	<ion-section class="video-section" *ngIf="thread.coverMessage.video">
		<figure aspect-16-9>		
			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREgl3ITNktGVgUZH7lUIdHB0eNAzSw7l8-lxmC181VW4cpmwm0RA"/>
			<iframe allowfullscreen [src]="thread.coverMessage.video.url | safeurl" frameborder="0" class="video-embed"></iframe>		
		</figure>
		<ion-section-content>
			<p class="caption" *ngIf="thread.coverMessage.video.caption">{{thread.coverMessage.video.caption}}</p>		
		</ion-section-content>
	</ion-section>

  <ion-section class="messages-section">
  	<ion-section-content>
  		<div class="chat-thread">
  			<div class="chat-message" [class.left]="message.from.urn != accountProvider.currentAccount.urn" [class.right]="message.from.urn == accountProvider.currentAccount.urn" *ngFor="let message of thread.messages">
  				<ion-avatar (click)="onViewAccountProfile(message.from)">
			      <img [src]="message.from.profileImage.url">
			    </ion-avatar>
  				<div class="chat-bubble">
			  		<div class="message-body">{{message.body}}</div>  				
  					<div class="message-meta">{{message.createdAt}}</div>
  				</div>
  			</div>
  		</div>
  	</ion-section-content>
  </ion-section>
</ion-content>

<ion-footer padding [keyboard-attach]="content">
	<div flex>
	  <ion-textarea autosize [(ngModel)]="reply" placeholder="Write a message..."></ion-textarea>
    <button ion-button auto-height (click)="onReply()">Reply</button>	
	</div>
</ion-footer>