<ion-header>
	<chrome-block></chrome-block>
</ion-header>

<ion-content>
	<ion-section small-top-margin class="conversations-section">
		<ion-section-header>
			<h2 flex uppercase>Messages</h2>		
		</ion-section-header>
		<ion-section-content>
			<ion-list>
			  <ion-item class="conversation" *ngFor="let conversation of messageProvider.currentInbox.conversations">
			    <ion-avatar item-start (click)="onViewUserProfile(conversation.from)">
			      <img src="{{conversation.from.profileImage.url}}">
			    </ion-avatar>
		    	<h6 flex class="conversation-from" (click)="onViewConversation(conversation)">{{conversation.from.firstName}} {{conversation.from.lastName}}</h6>
			    <p skinny class="conversation-title" (click)="onViewConversation(conversation)">{{conversation.title}}</p>
			    <p class="meta">{{conversation.category}} • {{conversation.createdAt}}</p>   
			  	<ion-note item-end item-top>
			  		<p class="currency" [innerHTML]="currencyProvider.format(conversation.incentive.value)"></p>
			  	</ion-note>
			  </ion-item>
			</ion-list>		
		</ion-section-content>
	</ion-section>
</ion-content>
