<ion-header clear>
  <ion-navbar></ion-navbar>
</ion-header>

<ion-content>
	<ion-section class="summary">
		<ion-section-header no-top-padding>
			<ion-item no-lines>
				<h2>{{user.getFullName()}}<sub class="no-wrap">{{user.headline}}</sub></h2>
				<p small-top-margin class="meta">232 connections • 10,422 karma</p>
				<ion-avatar large item-end *ngIf="user.profileImage">
		      <img src="{{user.profileImage.url}}">
		      <ion-badge *ngIf="user.relationship && user.relationship.graphDistance">{{user.relationship.graphDistance}}</ion-badge>
		    </ion-avatar>
			</ion-item>
			<ion-buttons>
  			<button ion-button icon-start small-right-margin outline *ngIf="user.relationship && !user.relationship.isConnected()">Connect</button>
  			<button ion-button icon-start outline color="secondary">Message for $10</button>
  		</ion-buttons>
		</ion-section-header>
		<ion-section-content>
			<p class="lead" [innerHtml]="user.description"></p>
			<ul bottom-padding class="relationship" *ngIf="user.relationship">
  			<li *ngIf="user.relationship.sharedConnectionSize">You both share <a>{{user.relationship.sharedConnectionSize}} common connections</a>.</li>
  			<li *ngIf="user.relationship.sharedCompany">You both worked at <a>{{user.relationship.sharedCompany}}</a>.</li>
  			<li *ngIf="user.relationship.sharedSchool">You both are alumni of <a>{{user.relationship.sharedSchool}}</a>.</li>
  		</ul>
		</ion-section-content>
	</ion-section>

  <ion-section class="experiences" *ngIf="user.experiences">
  	<ion-section-content>
	  	<h4>Experience</h4>
  		<ion-list>
  			<ion-item *ngFor="let experience of user.experiences">
  				<ion-thumbnail item-start item-top *ngIf="experience.company.profileImage">
  					<img [src]="experience.company.profileImage.url"/>
  				</ion-thumbnail>
  				<h6 no-wrap>{{experience.title}}</h6>
  				<p><span ion-text color="primary">{{experience.company.name}}</span> • <span class="meta">{{experience.startDate}} - {{experience.endDate}}</span></p>
  				<p top-margin no-wrap class="description" [innerHtml]="experience.description" *ngIf="experience.description"></p>
  			</ion-item>
  		</ion-list>
  	</ion-section-content>
  </ion-section>

  <ion-section class="education" *ngIf="user.educations">
  	<ion-section-content>
  		<h4>Education</h4>
  		<ion-list>
  			<ion-item *ngFor="let education of user.educations">
  				<ion-thumbnail item-start item-top *ngIf="education.school.profileImage">
  					<img [src]="education.school.profileImage.url"/>
  				</ion-thumbnail>
  				<h6 no-wrap>{{education.school.name}}</h6>
  				<p no-wrap>{{education.degree}}</p>
  				<p class="meta">{{education.startDate}} - {{education.endDate}}</p>
  				<p top-margin no-wrap class="description" [innerHtml]="education.description" *ngIf="education.description"></p>
  			</ion-item>
  		</ion-list>
  	</ion-section-content>
  </ion-section>

  <ion-section class="interests">
  	<ion-section-content>
  		<h4 small-bottom-margin>Interests</h4>
  		<ion-thumbnail *ngFor="let interest of user.interests">
  			<img [src]="interest.profileImage.url"/>
  		</ion-thumbnail>
  	</ion-section-content>
  </ion-section>
</ion-content>
