<ion-header>
	<chrome-block></chrome-block>
</ion-header>

<ion-content>
	<ion-section>
		<ion-section-header>
			<h4>Recently Contacted</h4>
		</ion-section-header>
		<ion-section-content>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</ion-section-content>
	</ion-section>
	
	<ion-section>
		<ion-section-header>
			<h4>My Network</h4>
		</ion-section-header>
		<ion-section-content>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</ion-section-content>
	</ion-section>
	
	<ion-section>
		<ion-section-header>
			<h4>Trending Influencers</h4>
		</ion-section-header>
		<ion-section-content>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</ion-section-content>
	</ion-section>
	
	<ion-section>
		<ion-section-header>
			<h4>Popular Lists</h4>
		</ion-section-header>
		<ion-section-content>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</ion-section-content>
	</ion-section>
</ion-content>