<ion-menu [content]="mainContent">
  <ion-content padding class="main-menu">
  	<ion-item no-lines>  	
 			<ion-avatar item-start large>
 				<img [src]="accountProvider.currentAccount.profileImage.url"/>
 			</ion-avatar>
 			<h4>{{accountProvider.currentAccount.getFullName()}}</h4>
 			<p class="currency" [innerHTML]="currencyProvider.format(accountProvider.currentAccount.balance)"></p>
  		<p class="meta">{{accountProvider.currentAccount.formatKarmaSize()}} karma</p>
  	</ion-item>
    <ion-list class="actions">
      <button ion-item (click)="onViewExplore()">
        Explore
      </button>
      <button ion-item (click)="onViewMyNetwork()">
        My Network
      </button>
      <button ion-item (click)="onViewMessages()">
        Messages <ion-badge>{{inboxProvider.currentInbox.threads.length}}</ion-badge>
      </button>
      <button ion-item (click)="onViewSettings()">
        Settings
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
  	<ion-buttons>
	    <button ion-button small skinny clear (click)="onViewConfiguration()">Configurations</button>
  	</ion-buttons>
  </ion-footer>
</ion-menu>

<ion-nav #mainContent [root]="rootPage" swipeBackEnabled="false"></ion-nav>