main-page {
	ion-content.main-menu {
		button.wallet-button {
			padding: 0 $medium-space;
			
			.item-inner {
				border-top: $hairlines-width solid $border-color;
				border-bottom: $hairlines-width solid $border-color;			
			}

			.currency {
				font-size: 1.6rem;
			}
		}
		
		ion-list.actions {
			margin-top: $small-space;
			
			button {
				padding: 0 $medium-space;
				font-weight: 300;
				font-size: 1.7rem;
				color: color($colors, dark-gray);
				
				ion-label.label-ios {
					display: flex;
					align-items: center;
					min-height: 50px;
					margin: 0;
				}
			}
		}
	}
}