main-page {
	ion-content.main-menu {
		.currency {
			font-size: 1.7rem;
		}
		
		ion-list.actions {
			margin-top: $medium-space;
			
			button {
				font-weight: 300;
				font-size: 1.7rem;
			}
		}
	}
}