<ion-menu [content]="mainContent" type="overlay">
  <ion-content class="main-menu">
  	<ion-item padding no-lines class="header">
 			<ion-avatar item-start large>
 				<img [src]="userProvider.currentUser.profileImage.url"/>
 			</ion-avatar>
 			<h4>{{userProvider.currentUser.getFullName()}}</h4>
  		<p class="meta">{{userProvider.currentUser.karmaSize}} karma</p>
  	</ion-item>  		

 		<button ion-item class="wallet-button" (click)="onViewWallet()">
 			<p class="currency" [innerHTML]="currencyProvider.format(userProvider.currentUser.wallet.balance)"></p>
 		</button>  		

    <ion-list no-lines class="actions">
      <button ion-item (click)="onViewExplore()">
      	Explore
      </button>
      <button ion-item (click)="onViewMyNetwork()">
        My Network
      </button>
      <button ion-item (click)="onViewMessages()">
      	Messages <ion-badge small-left-margin>{{messageProvider.currentInbox.conversations.length}}</ion-badge>
      </button>
      <button ion-item (click)="onViewSettings()">
        Settings
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
  	<ion-buttons>
	    <button ion-button small skinny clear (click)="onViewConfiguration()">Configurations</button>
  	</ion-buttons>
  </ion-footer>
</ion-menu>

<ion-nav #mainContent [root]="rootPage" swipeBackEnabled="false"></ion-nav>