ion-footer {
	box-shadow: 0 0 $tiny-space $border-color;
	
	&[clear] {
		box-shadow: none;
  }
	
	.text-input-ios {
		margin: 0;
		height: 20px;
	}
	
	textarea {
	 	height: 20px;
	}
	
	ion-button {
		
	}
}