.tag {
	display: inline-block;
	margin: $tiny-space $small-space $tiny-space 0;
	padding: 8px 12px;
	background-color: color($colors, light);
	border-radius: 3px;
	font-weight: 300;
	font-size: 1.4rem;
	color: color($colors, dark-gray);
}

.hashtag {
	display: inline-block;
	font-weight: 300;
}