body {
  line-height: $line-height-base;
  letter-spacing: $letter-spacing-base;
  word-spacing: $word-spacing-base;
}

h1, h2, h3, h4, h5, h6 {
	display: block;
  width: 100%;
  margin: 0 !important;
  line-height: $line-height-base !important;
  font-weight: 700 !important;
  
  sup {
  	display: block;
    width: 100%;
  	top: 0;
  	font-weight: 500;
    line-height: 1.3;
    color: color($colors, dark-gray);
  }

  sub {
    display: block;
    bottom: 0;
    width: 100%;
    font-weight: 500;
    line-height: 1.3;
    color: color($colors, dark-gray);
  }
  
  ion-icon {
  	font-size: 1.0em;
  }
}

h1 {
	font-size: $h1-font-size !important;
	
	sub, sup {
		font-size: 65%;
	}
}

h2 {
	font-size: $h2-font-size !important;
	
	sub, sup {
		font-size: 70%;
	}
}

h3 {
	font-size: $h3-font-size !important;
	
	sub, sup {
		font-size: 75%;
	}
}

h4 {
	font-size: $h4-font-size !important;
	
	sub, sup {
		font-size: 75%;
	}
}

h5 {
	font-size: $h5-font-size !important;
	
	sub, sup {
    font-size: 80%;
    font-weight: 300;
  }
}

h6 {
	font-size: $h6-font-size !important;
	
	sub, sup {
		margin: 1px 0;
		font-weight: 300;
    font-size: 80%;
  }
}

p {
	width: 100%;
  margin: 0;
  font-weight: 300;
  font-size: $font-size-base;
  
  [color="primary"] {
  	color: color($colors, primary);
  }
  
  [color="secondary"] {
  	color: color($colors, secondary);
  }

  &[offset] {
    margin-top: -0.2em !important;
  }
  
  &[small] {
  	font-size: 85% !important;
  }
  
  &[large] {
  	font-size: 115% !important;
  }
  
  ion-icon {
  	font-size: 1.0em;
  }
}

span[ion-text] {
	display: inline-block;
}

strong, [strong] {
  font-weight: 700 !important;
}

[skinny] {
	font-weight: 300 !important;
}

[uppercase] {
	text-transform: uppercase !important;
}

[lowercase] {
	text-transform: lowercase !important;
}

[pre-wrap] {
	white-space: pre-wrap;
}

b {
  font-weight: 600 !important;
}

small {
  font-size: 85% !important;
}

[text-shadow] {
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.meta {
	font-weight: 300 !important;
  font-size: 1.3rem !important;
  color: color($colors, dark-gray) !important;
}

.lead {
	font-weight: 300 !important;
	font-size: 1.8rem !important;
	color: color($colors, dark-gray) !important;
}

.caption {
	font-weight: 300 !important; 
	color: color($colors, dark-gray) !important;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-wrap {
	white-space: nowrap;
}

@mixin light-text {
  h1, h2, h3, h4, h5, h6, p, a, input, textarea {
    color: $white !important;
  }
}