ion-thumbnail {
	width: $item-ios-thumbnail-size;
 	height: $item-ios-thumbnail-size;
	border-radius: $border-radius;
	overflow: hidden;
	
	img {
		width: 100% !important;
		height: 100% !important;
	}
}

ion-thumbnail[large] {
 	width: $item-ios-thumbnail-size + 32;
 	height: $item-ios-thumbnail-size + 32;
 	
 	ion-badge {
 		font-size: 1.4rem;
 	}	
}