<ion-header clear>
	<chrome-block></chrome-block>
	<ion-toolbar>	
		<ion-searchbar mode="md" placeholder="person, company, keyword"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-section top-margin>
		<ion-section-header>
			<h4><sup>Trending</sup>Posts from Your Network</h4>
		</ion-section-header>
		<ion-section-content no-padding>
			<post-block [post]="post" layout="FEED" *ngFor="let post of postProvider.getPostsFor('urn:community:your-network')"></post-block>
		</ion-section-content>
	</ion-section>
	<ion-section xlarge-top-margin>
		<ion-section-header>
			<h4><sup>Since you're following</sup>Blockchain Community</h4>
		</ion-section-header>
		<ion-section-content no-padding>
			<post-block [post]="post" layout="FEED" *ngFor="let post of postProvider.getPostsFor('urn:community:blockchain')"></post-block>
		</ion-section-content>
	</ion-section>
	<ion-section xlarge-top-margin>
		<ion-section-header>
			<h4><sup>Since you're following</sup>UI Design Community</h4>
		</ion-section-header>
		<ion-section-content no-padding>
			<post-block [post]="post" layout="FEED" *ngFor="let post of postProvider.getPostsFor('urn:community:ui')"></post-block>
		</ion-section-content>
	</ion-section>
	<ion-section xlarge-top-margin>
		<ion-section-header>
			<h4><sup>Send a message</sup>Popular Lists</h4>
		</ion-section-header>
		<ion-slides slidesPerView="auto" spaceBetween="8">
		  <ion-slide *ngFor="let list of listProvider.mockLists">
		    <list-block [list]="list" layout="COMPACT"></list-block>	
		  </ion-slide>
		</ion-slides>
	</ion-section>
</ion-content>