<ion-header clear>
	<expandable-header-block [scrollArea]="exploreContent" headerHeight="50">	
		<chrome-block></chrome-block>
	</expandable-header-block>
	<ion-toolbar mode="md">
    <ion-segment [(ngModel)]="segment" mode="md">
      <ion-segment-button value="DISCOVER">Discover</ion-segment-button>
      <ion-segment-button value="SEND">Send</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen #exploreContent>
	<div [ngSwitch]="segment">
		<div *ngSwitchCase="'DISCOVER'">
			<feed-block [feed]="feed"></feed-block>			
		</div>
		<div *ngSwitchCase="'SEND'">
			<ion-section class="recently-contacted-section">
				<ion-section-header>
					<h4><sup>Send a message</sup>Recently Contacted</h4>
				</ion-section-header>
				<slides-block [contents]="userProvider.mockRecentlyContacted" showPricing="true"></slides-block>
			</ion-section>
			<ion-section class="job-opportunities-section">
				<ion-section-header>
					<h4><sup>Start a conversation</sup>Job Opportunities</h4>
				</ion-section-header>
				<slides-block [contents]="userProvider.mockJobOpportunities" showPricing="true"></slides-block>
			</ion-section>
			<ion-section class="influencers-section">
				<ion-section-header>
					<h4><sup>Introduce yourself</sup>Influencers in Blockchain</h4>
				</ion-section-header>
				<slides-block [contents]="userProvider.mockBlockchainInfluencers" showPricing="true"></slides-block>
			</ion-section>
			<ion-section xlarge-top-margin class="lists-section">
				<ion-section-header>
					<h4><sup>Reach a community</sup>Popular Lists</h4>
				</ion-section-header>
				<slides-block [contents]="listProvider.mockLists" showPricing="true"></slides-block>
			</ion-section>
		</div>
	</div>
</ion-content>