explore-page {
	ion-section {
		margin-bottom: $large-space;
		
		ion-section-header {
			padding-bottom: $tiny-space;
		}
	}
	
	ion-section.lists-section {
		ion-slides {
			ion-slide {
		    width: 80% !important; 
			}
		}	
	}
	
	ion-section.influencers-section {
		ion-slides {
			ion-slide {
		    width: 80% !important; 
			}
		}	
	}
}