<ion-header clear>
	<chrome-block></chrome-block>
	<ion-toolbar mode="md">
    <ion-segment [(ngModel)]="segment" mode="md">
      <ion-segment-button value="DISCOVER">Discover</ion-segment-button>
      <ion-segment-button value="SEND">Send</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div [ngSwitch]="segment">
		<div *ngSwitchCase="'DISCOVER'">
			<feed-block [feed]="feed"></feed-block>			
		</div>
		<div *ngSwitchCase="'SEND'">
			<ion-section xlarge-top-margin class="influencers-section">
				<ion-section-header>
					<h4><sup>Send a message</sup>Influencers in Blockchain</h4>
				</ion-section-header>
				<ion-slides slidesPerView="auto" spaceBetween="8">
				  <ion-slide *ngFor="let influencer of influencerProvider.mockInfluencers">
				    <user-block [user]="influencer" layout="COMPACT"></user-block>	
				  </ion-slide>
				</ion-slides>
			</ion-section>
			<ion-section xlarge-top-margin class="lists-section">
				<ion-section-header>
					<h4><sup>Send a message</sup>Popular Lists</h4>
				</ion-section-header>
				<ion-slides slidesPerView="auto" spaceBetween="8">
				  <ion-slide *ngFor="let list of listProvider.mockLists">
				    <list-block [list]="list" layout="COMPACT"></list-block>	
				  </ion-slide>
				</ion-slides>
			</ion-section>
		</div>
	</div>
</ion-content>