<ion-header clear>
  <ion-navbar></ion-navbar>
</ion-header>

<ion-content>
	<ion-section class="summary">
		<ion-section-header>
			<ion-item no-lines>
				<h2>{{account.getFullName()}}<sub class="no-wrap">{{account.headline}}</sub></h2>
				<ion-avatar large item-end *ngIf="account.profileImage">
		      <img src="{{account.profileImage.url}}">
		      <ion-badge *ngIf="account.relationship && account.relationship.graphDistance">{{account.relationship.graphDistance}}</ion-badge>
		    </ion-avatar>
			</ion-item>
		</ion-section-header>
		<ion-section-content>
			<p class="lead" [innerHtml]="account.description"></p>
			<ul bottom-padding class="relationship" *ngIf="account.relationship">
  			<li *ngIf="account.relationship.sharedConnectionSize">You both share <a>{{account.relationship.sharedConnectionSize}} common connections</a>.</li>
  			<li *ngIf="account.relationship.sharedCompany">You both worked at <a>{{account.relationship.sharedCompany}}</a>.</li>
  			<li *ngIf="account.relationship.sharedSchool">You both are alumni of <a>{{account.relationship.sharedSchool}}</a>.</li>
  		</ul>
		</ion-section-content>
	</ion-section>

  <ion-section class="experiences" *ngIf="account.experiences">
  	<ion-section-content>
	  	<h4>Experience</h4>
  		<ion-list>
  			<ion-item *ngFor="let experience of account.experiences">
  				<ion-thumbnail item-start item-top>
  					<img [src]="experience.company.profileImage.url"/>
  				</ion-thumbnail>
  				<h6 no-wrap>{{experience.title}}</h6>
  				<p><span ion-text color="primary">{{experience.company.name}}</span> • <span class="meta">{{experience.startDate}} - {{experience.endDate}}</span></p>
  				<p top-margin no-wrap class="description" [innerHtml]="experience.description" *ngIf="experience.description"></p>
  			</ion-item>
  		</ion-list>
  	</ion-section-content>
  </ion-section>

  <ion-section class="education" *ngIf="account.educations">
  	<ion-section-content>
  		<h4>Education</h4>
  		<ion-list>
  			<ion-item *ngFor="let education of account.educations">
  				<ion-thumbnail item-start item-top>
  					<img [src]="education.school.profileImage.url"/>
  				</ion-thumbnail>
  				<h6 no-wrap>{{education.school.name}}</h6>
  				<p no-wrap>{{education.degree}}</p>
  				<p class="meta">{{education.startDate}} - {{education.endDate}}</p>
  				<p top-margin no-wrap class="description" [innerHtml]="education.description" *ngIf="education.description"></p>
  			</ion-item>
  		</ion-list>
  	</ion-section-content>
  </ion-section>

  <ion-section class="interests">
  	<ion-section-content>
  		<h4 small-bottom-margin>Interests</h4>
  		<ion-thumbnail *ngFor="let interest of account.interests">
  			<img [src]="interest.profileImage.url"/>
  		</ion-thumbnail>
  	</ion-section-content>
  </ion-section>
</ion-content>
