list-block {
	figure {
		span.message-price {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: $small-space;
			background: color($colors, secondary);
			font-weight: 500;
	  	font-size: 1.2rem !important;
			color: white;
		}
	}
}