list-block {
	figure {
		span.currency {
			position: absolute;
			bottom: 100px;
			left: 0;
			padding: 10px;
			background: black;
			color: white;
		}
	}
	
	ion-card-content {
		margin-top: -100px; 
		background: white;
	}
}